.logoPicture{
    height: 40px;
}
.Nav-Bar{
    background-color: #444
}

/* .loggedIn{
    border: none;
} */

.linkBtn{
    color: white;
    opacity: 1;
    padding: 5px;
    margin: 0;
}
.linkBtn:hover{
    color: black;
}